---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main style="padding:2rem; min-height:60vh; text-align:center;">
    <h2>Contacto</h2>
    <p>Ponte en contacto con nosotros.</p>
  </main>
</Layout>
