---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main style="padding:2rem; min-height:60vh; text-align:center;">
    <h2>Sedes</h2>
    <p>Descubre nuestras sedes y ubicaciones.</p>
  </main>
</Layout>
