---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main style="padding:2rem; min-height:60vh; text-align:center;">
    <h2>Servicios</h2>
    <p>Conoce los servicios que ofrecemos.</p>
  </main>
</Layout>
